
.item {
  color: white;
  width: 17%;
  position: relative;
  cursor: pointer;
}

.temp_container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  top: 0%;
}

.details {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.844);
  padding-left: 10px;
  padding-right: 10px;
  height: 0;
  width: 90%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 1s;
}
.temp_container:hover .details{
  padding: 10px;
  height: 55%;
  width: 90%;
}

.details h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.details p {
  display: -webkit-box;
  height: 58%;
  line-height: 1;
  word-break: break-all;
  hyphens: manual;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 40px;
}


.backdrop {
  height: 100vh;
  width: 100vw;
  filter: brightness(50%);
}
.poster_details {
  position: absolute;
  top: 25vh;
  left: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  color: white;
}
.poster {
  width: 25%;
  height: 30%;
  border: 3px solid black;
}
.movie_details {
  width: 30vw;
  margin-bottom: 20px;
}
.genres{
display: flex;
gap: 10px;
}
.genres h3 {
color: black;
border-radius:10px ;
background-color: white;
padding: 10px;
}
.trailer {
width: 15vw;
height: 6vh;
border-radius: 15px;
border: none;
}
.trailer a {
color: black;
text-decoration: none;
font-weight: 500;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: 600;
font-size: 15px;
}
.play {
height: 15%;
width: 15%;
}